/Java OCP1 ClassWork/JavaBeginnerExercises/target/
/Java OCP1 ClassWork/Projects/06-ObjectsClasses_Practice1/nbproject/private/
/Java OCP1 ClassWork/Projects/06-ObjectsClasses_Practice1/build/
/Java OCP1 ClassWork/Projects/13-UsingInterfaces_Practice3/nbproject/private/
/Java OCP1 ClassWork/Projects/13-UsingInterfaces_Practice3/build/